<!DOCTYPE html>
<html>
<head>
	<title> Home </title>
	<style type="text/css">
		.links{
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		    background-color: #333;
		    display: flex;
		}

		.links > li {
		    border-right:1px solid #bbb;
		}

		.links > li:last-child {
		    border-right: none;
		}

		.links > li a {
		    display: block;
		    color: white;
		    text-align: center;
		    padding: 14px 16px;
		    text-decoration: none;
		}

		.links > li a:hover:not(.active) {
		    background-color: #111;
		}

		.active {
		    background-color: #4CAF50;
		}

	</style>
</head>
<body>
	<ul class="links">
	  <li> <a href=""> Home </a> </li>
	  <li> <a href=""> Dashboard </a> </li>
	  <li> <a href=""> Contact </a> </li>
	  <li> <a href=""> About </a> </li>
	</ul>
</body>
</html>


