<!DOCTYPE html>
<html>
<head>
	<title> Templates </title>
</head>
<body>
	<div class="templates">
		<a href="/sample1"> <img src="/images/template1.png"> </a>
		<a href="/sample2"> <img src="/images/template2.png"> </a>
	</div>
</body>
</html>